@use '../abstracts/' as *;

#profile-card {
    width: 100%;
    margin-bottom: rem(120);

    .user-card {
        padding: rem(50);
        background: var(--bg-color);
        color: var(--white);
        border: rem(3) solid var(--primary);
        border-radius: rem(15);
        display: flex;
        margin-bottom: rem(20);

    
        .user-avatar {
            margin-right: rem(30);
    
            img {
                min-width: rem(120);
                height: rem(120);
                border-radius: 50%;
                object-fit: cover;
            }

        }
    
        .user-detail {
            display: flex;
            flex-direction: column;
    
            .user-info {
                margin-bottom: rem(50);

                .name {
                    font-size: rem(27);
                    font-weight: 700;
                    margin-bottom: rem(15);
                }

                .user-joined-at {
                    font-size: rem(17);
                    font-weight: 500;
                    margin-bottom: rem(7);
                }
    
                .username {
                    font-size: rem(16);
                    font-weight: 500;
                    color: var(--primary);
                }
    
                .bio {
                    margin-top: rem(6);
                    font-size: rem(18);
                    font-weight: 500;
                }
                
            }
    
            .user-status {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
    
                .stat {
                    @include centerFlex;
                    flex-direction: column;
    
                    .title {
                        font-size: rem(16);
                        font-weight: 500;
                        margin-bottom: rem(5);
                    }
    
                    .value {
                        font-size: rem(19);
                        font-weight: 700;
                    }
                }
            }
    
            .user-contact {
                display: flex;
                flex-wrap: wrap;
                margin-top: rem(40);

                .contact {
                    display: flex;
                    width: 50%;
                    margin-bottom: rem(15);
    
                    .icon {
                        margin-right: rem(16);
                        svg {
                            width: rem(27);
                            height: rem(27);
                            color: var(--gray);
                        }
                    }
                    span {
                        font-size: rem(18);
                        font-weight: 500;
                    }
                }
    
            }
    
            #user-repos {
                display: flex;
                flex-wrap: wrap;
                margin-top: rem(40);
    
                .repo {
                    padding: rem(5) rem(8);
                    background-color: var(--dark-primary);
                    margin: 0 rem(8) rem(10) 0;
                    color: var(--primary);
                    border-radius: rem(5);
                    font-size: rem(15);
                    font-weight: 500;
    
                }
            }
    
        }
        
    }

}
