:root {
    --bg-color: hsl(238, 56%, 9%);
    --pink: hsl(323, 51%, 50%);
    --primary: hsl(212, 100%, 50%);
    --dark-primary: rgba(56, 139, 253, 0.2);
    --white: #ffffff;
    --info: #314485;
    --gray: #848d97;
    --success: #6cc644;
    --warning: #c9510c;
    --danger: #bd2c00;
    --dark: #333;
}