@use 'abstracts' as *;

body {
    background-color: var(--bg-color);
    color: var(--white);
}

.container {
    max-width: rem(850);
    margin: 0 auto;
    padding: 0 rem(15);
    @include centerFlex;
    flex-direction: column;

    @media(max-width: 775px) {
        display: none;
    }
}


.device {
    margin: 30px auto;
    padding: 0 rem(15);
    text-align: center;

    @media(min-width: 775px) {
        display: none;
    }
}
